* {
  box-sizing: border-box;
  /*border-style: dotted;
  border-width: 1px;
  border-color: red;*/
}

#placesToGo {
    height: 15%;
}

body {
    background-color: blue;
}

header {
    width:1600px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: lightslategrey;
}

.gameBoard {

    width: 1600px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

#chat {
    width: 285px;
    height: 570px;
    background-color: darkseagreen;
    border-radius: 25px;
    margin: 15px;
}

#actionPlace {
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    height: 870px;
    background-color: chartreuse;
    border-radius: 25px;
    margin: 15px;
}
#actions {
    display: flex;
    flex-wrap: wrap;
    width: 167px;
    height: 870px;
    background-color: chartreuse;
    border-radius: 25px;
    margin: 15px;
}

#infoMessage {
    width: 300px;
    height: 900px;
    border-radius:25px;
}

#deadAlive {
    width: 270px;
    height: 270px;
    border-radius: 25px;
    margin: 15px;
}

#aroundMe {
    width: 340px;
    height: 290px;
    margin: 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    justify-content: center;
    background-color: lightslategrey;
}
/*width 1240
  height 870 */

#rightSide {
    width: 340px;
    height: 620px;
    margin: 15px;
    flex-wrap: wrap;
    display:flex;
    text-align:center;

}
#map {
    width: 835px;
    height: 620px;
    margin: 15px;
    flex-wrap: wrap;
    display:flex;
}
#timer {
    width:340;
    height: 50px;
    font-size:20px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
#currentLocation {
    width: 340px;
    height: 295px;
    margin: 0px 15px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#tasks {
    width:1210px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;

    justify-content: left;
}

#map img {
    max-width: 1200px;
    max-height: 852px;
    margin: 15px;
    border-radius: 25px;
}

#meetingBoard {
    width: 1600px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

#meetingMap {
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    height: 870px;
    background-color: chartreuse;
    border-radius: 25px;
    margin: 15px;
}

#meetingMap img {
    width: 870px;
    height: 834px;
    padding: 25px;
    border-radius: 25px;
}


#startBoard {
     width: 1600px;
     height: 650px;
     display: flex;
     flex-wrap: wrap;
     border-radius: 25px;
}

#startSplash {
    width: 1075px;
    height: 650;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 15px;
}

#startSplash img {
    border-radius: 25px;
    width: 1024px;
    height: 634px;
}

#startTimer {
    width: 500px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    margin-top: 15px;

#gameName {
    width: 1400px;
    height: 100px;
    font-size: 36px;
    color: white;
    background-color: black;
    display: flex;
}

#gamePlayers{
    width: 200px;
    height: 100px;
    color: black
    display: flex;
}

#gamePlayers > ul{
    width: 90px;
    height: 25px;
    color: black
    display: flex;
    columns: 75px 2;
}