.gameBoard {
    width: 1600px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

#chat {
    width: 285px;
    height: 570px;
    background-color: darkseagreen;
    border-radius: 25px;
    margin: 15px;
}

#actionPlace {
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    height: 870px;
    background-color: chartreuse;
    border-radius: 25px;
    margin: 15px;
}

#infoMessage {
    width: 300px;
    height: 900px;
    border-radius:25px;
}

#deadAlive {
    width: 270px;
    height: 270px;
    border-radius: 25px;
    margin: 15px;
}

#aroundMe {
    width: 1240px;
    height: 100px;
    margin: 15px;
    display: flex;
    justify-content: center;
    background-color: lightslategrey;
}

#map {
    width: 520px;
    height: 370px;
    margin: 15px;
}

#map img {
    max-width: 520px;
    max-height: 370px;
    margin: 15px;
    border-radius: 25px;
}

#meetingBoard {
    width: 1600px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

#meetingMap {
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    height: 870px;
    background-color: chartreuse;
    border-radius: 25px;
    margin: 15px;
}

#meetingMap img {
    width: 870px;
    height: 834px;
    padding: 25px;
    border-radius: 25px;
}

#startBoard {
     width: 1600px;
     height: 650px;
     display: flex;
     flex-wrap: wrap;
     border-radius: 25px;
}

#startSplash {
    width: 1075px;
    height: 650;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 15px;
}

#startSplash img {
    border-radius: 25px;
    width: 1024px;
    height: 634px;
}

#startTimer {
    width: 500px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    margin-top: 15px;
}