<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <header>
            <section>
                <ul id="gamePlayersHeader">
                    <li th:each="player: ${allPlayers}" th:if="${!player.isDead()}" th:text="${player.getUsername()}" th:style="'font-weight: bold; list-style-type: none;'"></li>
                    <li th:each="player: ${allPlayers}" th:if="${player.isDead()}" th:text="${player.getUsername()}" th:style="'font-style: italic; text-decoration: line-through; list-style-type: none;'"></li>
                </ul>
            </section>
        </header>
    </body>
</html>
