<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-inline">
    <div class="form-group">
        <label for="connect">WebSocket connection:</label>

        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
        </button>
    </div>
</form>
    <div>
        <form name="form">
            <label for="text">Message:</label>
            <input type="text" id="text" placeholder="Type message here.">
            <button type="submit"id="send">Submit</button>
        </form>

        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Messages</th>
            </tr>
            </thead>
            <tbody id="messages">
            </tbody>
        </table>

    </div>
</body>
</html>