<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul  style="list-style-type:none"th:each="location : ${playerOne.playerLocation.adjacentLocations}">
            <li th:text="${location.getName()}"></li>
            <ul th:each="player : ${location.playersAtCurrentLocation}">
                <li th:text="${player.getUsername()}"></li>
                <li th:if="${player.playerLocation.playersAtCurrentLocation.size() == 0}" th:text="empty">Empty</li>

            </ul>
        </ul>
    </div>

</body>
</html>