<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/app.js"></script>
    <script src="/timer.js"></script>
    <link rel="stylesheet" href="styles.css">


</head>
<header>
    <div id="headerGame">
        <img src="https://via.placeholder.com/1600x200" alt="">

    </div>
</header>
<body>
    <div th:replace="fragments/logout :: a"></div>
    <div th:replace="fragments/homeButton :: a"></div>
    <div th:replace="fragments/report :: a"></div>

    <div id="gameBoard">
            <div id="actionPlace">
                <div id="aroundMe">
                    <h2>Whos Around!?</h2>
                </div>
                <div id="map">
                    <img src="/JavaMongUs_map.png" alt="">
                </div>
                <div th:if="${principal}" th:replace="fragments/timer.html :: #timer"></div>
                <div id="placesToGo">
                    <h3>Places You Can Go</h3>
                    <section>
                        <form action="/update" method="POST">
                            <span  th:each="location : ${playerOne.playerLocation.adjacentLocations}">
                                <input type="radio"  th:id="${location.getName()}" name="location" th:value="${location.getName()}">
                                <label th:for="${location.getName()}" th:text ="${location.getName()}"></label><br>
                            </span>
                            <input type="radio" name="location" id="stayHere">
                            <label for="stayHere">Stay Here</label>
                        </form>
                    </section>
                </div>
                <div>
                    <div th:replace="fragments/kill :: div"></div>
                </div>
            </div>




    <a href="/meeting">Call Meeting</a>

    </div>


</body>
</html>