<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/app.js"></script>
    <script src="/timer.js"></script>
    <link rel="stylesheet" href="styles.css">


</head>
<header>
    <div id="headerGame">
        <img src="https://via.placeholder.com/1600x200" alt="">

    </div>
</header>
<body>
    <div id="gameBoard">
            <div id="actionPlace">
                <div id="aroundMe">
                    <h2>Whos Around!?</h2>
                </div>
                <div id="map">
                    <img src="/JavaMongUs_map.png" alt="">
                </div>
<!--                    <div id="timer" style="'font-size: 15px; font-weight: bolder; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;'"></div>-->
                <div th:if="${principal}" th:replace="fragments/timer.html :: #timer"></div>

                </div>
            </div>


    <a href="/meeting">Call Meeting</a>

    </div>


</body>
</html>