<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--
     Todo: Authorize static folder (webconfig)
     TODO: put connect on game.html-->
    <title>Home</title>
</head>
<body>
    <h1>JavaMongUs HomePage</h1>

    <form action="/newuser" method="POST">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit">
    </form>

    <section th:if="${principal != null}">
        <a href="/create">Create New Game</a>
        <a href="/playerJoin">Join Game</a>
    </section>
</body>
</html>