<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<header>
    <div id="headerGame">
        <img src="https://via.placeholder.com/1600x200" alt="">

    </div>
</header>
<body>
    <h1>JavaMongUs HomePage</h1>

    <a href="/login">Login</a>
    <br>
    <a href="/signup">Sign Up</a>

    <br>
    <br>
    <section th:if="${principal != null and !gameState.gameInProgress}">
        <a href="/create">Create New Game</a>
    </section>
    <h4 th:if="${principle != null and !gameState.joinGame and gameState.gameInProgress}" th:text="${gameState.gameStartedBy has a game in progress! Please wait...}"></h4>
    <br>
    <br>
    <section th:if="${principal != null and gameState.joinGame}">
        <a href="/playerJoin">Login to Game</a>
    </section>
</body>
</html>