<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>

<header>
    <div id="headerGame">
        <img src="https://via.placeholder.com/1600x200" alt="">

    </div>
</header>
<br>
<body>

    <h1>Please Sign In using the form below!</h1>
    <br>
    <form action="/login" method="post">
        Enter Username <input type="text" name="username">
        Enter Password <input type="password" name="password">
        <input type="submit" name="Login">
    </form>
</body>
</html>