<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>

<header>
    <div id="headerGame">
        <div id="gameName"><section>JavaMongUs</section></div>
        <div id="gamePlayers"><ul><li th:replace="fragments/gamePlayers :: li"></li></ul></div>
    </div>
</header>
<br>
<body>

    <h1>Please Sign In using the form below!</h1>
    <br>
    <form action="/login" method="post">
        Enter Username <input type="text" name="username">
        Enter Password <input type="password" name="password">
        <input type="submit" name="Login">
    </form>
</body>
</html>