<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<header>
    <div id="headerGame">
        <div id="gameName"><section>JavaMongUs</section></div>
        <div id="gamePlayers"><ul><li th:replace="fragments/gamePlayers :: li"></li></ul></div>
    </div>
</header>
<body>
    <h1>Sign Up to Play</h1>
    <br>
    <br>
    <form action="/newuser" method="POST">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit">
    </form>

</body>
</html>